.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.contact h3 {
    font-size: 2rem;
}
.contact > span {
    font-size: .85rem;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #888;
    margin: .4rem;
}
.contact ul {
    max-width: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5rem;
}
.contact li{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact p{
    font-size: .8rem;
    margin-top: .4rem;
    color: #888;
}
.contact i{
    font-size: 1.2em;
}


form{
    display: flex;
    flex-direction: column;
    width: 80vh;
    max-width: 90%;
    gap: 1rem;
    margin: 8rem 0 3rem 0;
}

input, textarea{
    text-align: center;
    padding: 1rem;
    background: transparent;
    border: 1px solid #888;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

textarea {
    text-align: left;
    height: 9rem;
    resize: none;
}

form button {
    -webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    
    padding: 1.4rem;
    cursor: pointer;
    background: #000;
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------------- */

/* mediaQuery */
@media screen and (max-width: 568px) {
    .contact ul {
        width: 45vh;
        display: flex;
        justify-content: space-evenly;
        margin-top: 3.5rem;
    }
    .contact li:nth-of-type(1), .contact li:nth-of-type(3){
        position: relative;
        top: 200%;
    }
    .contact li:nth-of-type(1){
        left: 1rem;
    }
    .contact li:nth-of-type(3){
        right: 1rem;
    }

    #space-p{
       position: absolute;
       text-align: center;
       margin-top: 3rem;
       width: 50%;
       
    }
    .contact i{
        font-size: 1.3em;
    }
  }
  @media screen and (max-width: 300px) {
    .contact ul {
        width: 36vh;
    }
  }
